body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 18px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px ;

}

.content {
  background: #e3f4ff;
  margin: 10px auto;
  padding: 5px 14px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
}


button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 6px 40px;
}
